body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('images/bg-01.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

video {
  width: 25%;
  position: absolute;
  border-radius: 25px 20px;
  top: 50%;
  translate: 0 -25%;
  aspect-ratio: 16 / 9;
  z-index: -100;
  scale: 0;
  opacity: 0;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.button {
  position: absolute;
  top: 50%;
  translate: 0 -55%;
  cursor: pointer;
  transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
}

.hide {
  opacity: 0;
  scale: 0;
  position: absolute;
  z-index: -1000;
}

.show {
  width: 75%;
  opacity: 1;
  scale: 0.9;
  position: static;
  translate: 0;
  z-index: 1000;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

@media (min-width: 1400px) {
  .button {
    width: 100px !important;
    height: 100px;
  }
}
